{{template "base" . }}

{{define "title"}}
    首頁
{{end}}



{{define "css"}}
    <style>
      
    </style>

{{end}}


{{define "content"}}
    <h2 class="mt-2">Cameras</h2>
    <hr>


{{end}}


{{define "js"}}


{{end}}